<app-ravxx-api-root></app-ravxx-api-root>
<div>
    <div class="header">
        <span class="title">ravXX API Demo page</span>
        <span class="user">api user: "demo"</span>
    </div>
    <div class="menu">
        <span class="general" routerLink="/general">general</span>
        <span class="pages" routerLink="/pages">pages</span>
        <span class="forms" routerLink="/forms">forms</span>
        <span class="mail_templates" routerLink="/mail_templates">mail templates</span>
    </div>

    <router-outlet></router-outlet>
</div>
