<div class="entity">
    <div class="menu">
        <div class="preview" [routerLink]="['/'+type+'s/','user_'+type+'s',pageTemplate.id,'preview']">preview</div>
        <div class="create_new" [routerLink]="['/'+type+'s/','user_'+type+'s',pageTemplate.id,'edit']">edit</div>
        <div class="publish" [routerLink]="['/'+type+'s/','user_'+type+'s',pageTemplate.id,'publish']">publish</div>
    </div>
    <div class="thumbnail"><img [src]="pageTemplate.thumbnail"></div>
    <div class="name"><input #box value="{{pageTemplate.name}}"
                             (keyup.enter)="box.value!=pageTemplate.name?updateName(box.value):null"
                             (blur)="box.value!=pageTemplate.name?updateName(box.value):null">
        <div>
            <div>Change name</div>
        </div>
    </div>
</div>
